---
import Author from '../Author.astro';
---

<div class='about-the-author py-4 border-b'>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About Me</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			I'm Muhammad Fiaz, a Full Stack Developer with experience building SaaS and enterprise-level products. Checkout my work on
			<a href='https://muhammadfiaz.com' target='_blank' class='underline'>muhammadfiaz.com</a>.
		</p>
		<p>
			I enjoy collaborating on projects as a Full Stack Developer. I love building user-friendly interfaces and working with modern web
			technologies.
		</p>
	</div>
</div>
